
.tarea {
    display: flex;
    margin: auto;
    width: 80%;
    border: none;
    margin-top: 1rem; 
    background-color: #555555;
}
.tarea-container {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    height: 2rem;
    color: white;
    width: 100%;
    font-weight: 300;
    align-items: center;
}
.tarea-eliminar-btn{
    background-color: #7C7C7C; 
    color: white; 
    width: 3rem;  
    border: none;
    font-size: 20px; 
    border-radius: 2px;
    cursor: pointer;
}
.completado {
    color: #89FF95;
}

.incompleto {
    color: #FF6B6B;
}
.icono-chequeador{
    padding: 1px;
    cursor: pointer;  
    font-size: 1.5rem;
    border-radius: 1rem;
    background-color: #363636;
    justify-self: center;
}
.flecha-btn{
    justify-self: center;
}

